<!DOCTYPE html>
<html class="{{ htmlClass }}">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <link rel="preload"  href="../../css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" as="style" />
    <link rel="stylesheet"  href="../../css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />
    <!-- Css from theme -->
    <link rel="preload"  href="../../css/app-style.css?{{ cacheBuster }}" media="all" as="style" />
    <link rel="stylesheet"  href="../../css/app-style.css?{{ cacheBuster }}" media="all" />
    <!-- Css from theme -->
    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{ patternLabHead | raw }}
    <!-- End Pattern Lab -->
    <!-- Css from theme -->
    {# <link rel="preload" href="../../../../css/styles.css?{{ cacheBuster }}" media="all" as="style" /> #}
    <link rel="stylesheet" href="../../../../css/fontawesome/css/fontawesome.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../css/fontawesome/css/brands.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../css/fontawesome/css/solid.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../css/bootstrap4.min.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../css/animate.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../slick/slick.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../slick/slick-theme.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../css/style.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../css/rolex.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../css/owl.carousel.min.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../css/bootstrap-select.min.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../css/import.css?{{ cacheBuster }}" media="all" />
    <!-- Css from theme -->
    <!-- Base js drupal 8 -->
    <script src="code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script defer src="../../js/drupal/jquery.min.js?{{ cacheBuster }}"></script>
    <script defer src="../../js/drupal/ready.min.js?{{ cacheBuster }}"></script>
    <script defer src="../../js/drupal/jquery.once.min.js?{{ cacheBuster }}"></script>
    <script defer src="../../js/drupal/drupal.js?{{ cacheBuster }}"></script>
    <script defer src="../../js/drupal/picturefill.min.js?{{ cacheBuster }}"></script>
    <script defer src="../../js/drupal/modernizr.min.js?{{ cacheBuster }}"></script>
    <script defer src="../../../../slick/slick.min.js?{{ cacheBuster }}"></script>
    <script defer src="../../../../js/jquery.matchHeight-min.js?{{ cacheBuster }}"></script>
    <script defer src="../../../../js/wow.min.js?{{ cacheBuster }}"></script>
    <script defer src="../../../../js/bootstrap-select.min.js?{{ cacheBuster }}"></script>
    <script defer src="../../../../js/main.js?{{ cacheBuster }}"></script>
    <!-- Base js drupal 8 -->
  </head>
  <body class="{{ bodyClass }} area-limit area-limit-outside">

